
body{
    margin: 0;
    font-family: Arial;
}
/* table style  */
table{
    display: flex;
    justify-content: center; /* put the table in the center of the screen */ 
    margin-top: 50px;
    text-align: center;
}
/* image card style */
.image-card{
    height: 200px;
    width: 200px;
}
/* title style */
.title{
    text-align: center;
    color:#04AA6D;
}
/* cards style */
.tool_card{
    padding: 10px 40px 10px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition-duration: 1s;
}
.tool_card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transform: translateY(-5px); /* Move card up on hover */
}
.description{
    max-width: 200px;
}
/* space colmun or row*/
.space{
    padding: 0px 25px 25px 0px;
}
/* header of the table style */
th{
    padding: 0px 0px 20px 0px;
}
/* purchase button style  */
.purchase-button{
    background-color: #04AA6D;
    border: 2px solid #04AA6D;
    color:white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    transition-duration: 1s; /* if the user hover at the button it will change the style of the button after 1 second*/
}
/* hover to purchase button style */
/* if the user hover the mouse at the button it will change the style of the button*/
.purchase-button:hover{
    background-color: transparent;
    color: black;
}

/* bottom right button style */
.bottom_right_button {
    position: fixed; /* It does not scroll with the rest of the page content*/
    bottom: 20px;    
    left: 20px;     
    background-color: #04AA6D;
    color: white;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 999;     /* ensure it's appears above other content */
    opacity: 0.5;
    transition-duration: 1s;
    display: none;
}
.bottom_right_button:hover{
    opacity: 1;
}