body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}
#users-list {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#users-list li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#users-list li:last-child {
    border-bottom: none;
}

#users-list li span {
    font-weight: bold;
    margin-right: 5px;
}

#users-list li .user-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
