
/* title style */
.title{
    text-align: center;
    color: #04AA6D;
}
/* table style */ 
table{
    display: flex;
    justify-content: center; /* put the table in the center of the screen */ 
    margin-top: 50px; 
    margin-bottom: 50px;
}   
.images{
    height:350px;
    width:410px;
    object-fit: cover;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
#arrows-left,#arrows-right{
    color: #04AA6D;
    cursor: pointer;
    font-size: 27px;
}
td{
    padding: 20px;
    max-width: 440px;
}
.image-gallary{
    text-align: center;
}
.question{
   vertical-align: top;
   text-align: left;
}
.answer{
    line-height: 1.3;
}
